*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#container{
    height: 100vh;
    /* padding-top: 164px; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#card{
    padding: 16px 16px 20px;
    width: 368px;
    border-radius: 8px; 
    box-shadow: 8px 8px 20px 0px rgba(85, 85, 85, 0.08);
    height: 380px;
    display: flex;
    flex-direction: column;
}
img{
    display: block;
    border-radius: 8px;
}

ul{
    margin:16px 0;
    list-style: none;
    display: flex; 
}

ul li {
  color: #7C19EE;
  background-color: #F2EAFD;
  padding: 6px 16px;
  border-radius: 16px;

  display: flex;
  align-items: center;

  font-family: "Sora", sans-serif;
  font-size: 10px;
  font-weight: 600;
  line-height: 1;
}


h1{
    font-family: "Sora", sans-serif;
    font-size: 18px;
    color: #394150;
    
}

p{
    margin-top: 6px;
    font-family: "Sora", sans-serif;
    font-size: 14px;
    margin-bottom: 20px;
    color: #394150;
}
hr{
    border: none;
    height: 1px;
    background-color: #E5EAF0;
    margin-left: -16px;
    margin-right: -16px;
}

address{
    margin-top: auto;
    font-family: "Sora", sans-serif;
    font-size: 12px;
    font-style: normal;
    color: #394150;
}